<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pubs.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pubs.Services.Properties.Settings>
            <setting name="GooglePlacesApiKey" serializeAs="String">
                <value>AIzaSyCbrxLhvlVa7_4sV33eGrnn4KNscp5gX2A</value>
            </setting>
            <setting name="GooglePlacesApiUri" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/place/</value>
            </setting>
            <setting name="GoogleNearBySearch" serializeAs="String">
                <value>nearbysearch/</value>
            </setting>
            <setting name="GoogleDefaultLatitude" serializeAs="String">
                <value>50.061819</value>
            </setting>
            <setting name="GoogleDefaultLongitude" serializeAs="String">
                <value>19.937315</value>
            </setting>
        </Pubs.Services.Properties.Settings>
    </applicationSettings>
</configuration>